/* Style de base pour la rapidité */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #075E54; /* Vert WhatsApp */
    color: white;
    text-align: center;
    padding: 20px 10px;
}

header h1 { margin: 0; font-size: 1.5rem; }
header p { margin: 5px 0 0; font-size: 0.9rem; opacity: 0.9; }



nav a { gap: 70px;}

.container {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne sur petit mobile */
    gap: 15px;
}

/* Carte Produit */
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: block;
    width: 90%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px; 


}

.product-image {
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    gap: 40px;
}

.product-image img {
    width: 390px;
    height: 390px;
    gap: 40px;
    max-width: 100%;

}

.product-image img:hover {
    width: 400px;
    height: 400px;

}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-info h3 { margin: 0; font-size: 1.1rem; }

.price {
    color: #e67e22;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Bouton WhatsApp */
.btn-whatsapp {
    display: block;
    background-color: #25D366; /* Vert clair WhatsApp */
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-whatsapp:active {
    transform: scale(0.95);
    background-color: #128C7E;
}

.nous {
    background-color: white;
}

.qui_nous_somme {
    border-radius: 5%;
    background-color :gray;
    padding: 20px;
    margin: 20px;
    color: white;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding: 20px;
    color: #888;
}

/* Pour les tablettes ou téléphones larges */
@media (min-width: 480px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
